// windi css 默认生成的 svg vertical-align: middle; 会导致 antd 组件 icon 发生偏移
svg {
	vertical-align: initial;
}
*::-webkit-scrollbar {
    background-color: transparent;
    height: 14px;
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    transition: background .2s ease-in-out;
    border: 3px solid transparent;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
    border-radius: 9999px;
    min-height: 24px;
}

// .dark *::-webkit-scrollbar-thumb {
//     --tw-bg-opacity: 1;
//     background-color: rgba(50, 50, 50, var(--tw-bg-opacity));
// }

*::-webkit-scrollbar-thumb:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}

//   .dark *::-webkit-scrollbar-thumb:hover {
//     --tw-bg-opacity: 1;
//     background-color: rgba(60, 60, 60, var(--tw-bg-opacity));
//   }
*::-webkit-scrollbar-corner {
    background-color: transparent;
}